@import "../base.scss";

.tab-list {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.tab-list-item {
  cursor: pointer;
  margin: 0 20px;
  box-sizing: content-box;
  line-height: 80px;

  &:hover {
    //border-bottom: 5px $primary-color solid;
    color: $primary-color;
    font-weight: bold;
  }
}

.tab-list-item-activated {
  color: $primary-color;
  font-weight: bold;
}

.tab-list-item-normal {

}

